@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  scroll-behavior: smooth;
  user-select: none;
}
.loginBox {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: url("./1.png");
  background-size: cover;
  z-index: 1000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 10%;
  height: 20%;
  display: flex;
  padding: 0.3rem;
  flex-direction: column;
  background: #fff;
  box-sizing: border-box;
}
.login1 {
  flex: 1;
  margin-bottom: 0.2rem;
  /* border: .01rem solid #000; */
  border-radius: 0.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 16px;
}
.login2 {
  flex: 1;
  border-radius: 0.05rem;
  /* border: .01rem solid #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 16px;
}
